
body{
  margin: 0;
  padding: 0;
}

h1
{
  text-align: center;
}

h2 ul {
  display: table;
  margin: 0 auto;
}

/* menu - 01 */
#menulateralefeitohover
{
	margin: 0;
  padding: 0;
  font-family: arial;
  background: #fff;
  border: 5px solid gray;
}

#menulateralefeitohover ul
{
	/* margin: 300px 200px; */
  padding: 0px;
  display: flex;
}

#menulateralefeitohover ul li
{
  list-style: none;
  padding: 0px 20px;
}

#menulateralefeitohover ul li a
{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  color: black;
  position: relative;
}

#menulateralefeitohover ul li a:before 
{
	content: '';
  width: 0px;
  height: 5px;
  background: #10bdd4;
  position: absolute;
  top: 100%;
  left: 5px;
  transition: .5s;  
}

#menulateralefeitohover ul li:hover a:before 
{
  width: 50%;
  transform: translateX(100%);
}

/* menu - 01 end */

/* menu - 02 */

#menulateralabrefecha
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

#menulateralabrefecha *
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#menulateralabrefecha #menuprincipal
{
  position: absolute;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: .5s;
}


#menulateralabrefecha #menuprincipal header
{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #175879;
  user-select: none;
}

#menulateralabrefecha #menuprincipal ul a 
{
  display: block;
  text-align: center;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  /* padding-left: 40px; */
  box-sizing: border-box;
  border-top: 1px solid rgb(255,255,255,.1);
  border-bottom: 1px solid black;
  transition: .5s;
}

#menulateralabrefecha #menuprincipal ul li:hover a
{
  padding-left: 10%;
  transition: .5s;
}

#menulateralabrefecha #check 
{
  display: none;
}

#menulateralabrefecha label #botaomenu, #menulateralabrefecha label #botaofechar{
  position: absolute;
  margin: 10px;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
}

#menulateralabrefecha label #botaomenu 
{
  left: 40px;
  /*top: 25px;*/
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: .5s;
}

#menulateralabrefecha label #botaofechar {
  z-index: 1111;
  left: -195px;
  /*top: 17px;*/
  font-size: 30px;
  color: #0c5275;
  padding: 4px 9px;
  transition: .5s;
}

#menulateralabrefecha #check:checked ~ #menuprincipal 
{
  left: 0px;
}

#menulateralabrefecha #check:checked ~ label #botaomenu
{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#menulateralabrefecha #check:checked ~ label #botaofechar
{
  left: 195px;
}

#menulateralabrefecha section
{
  background: url(../assets/images/fundomontanhas.jpg) no-repeat;
  background-position: right;
  background-size: cover;
  height: 100vh;
  transition: .5s;
}

#menulateralabrefecha #check:checked ~ section
{
  margin-left: 250px;
  transition: .5s;
}

#menulateralabrefecha #menuprincipal ul a i
{
  margin-right: 16px;
}

/* end - menu 02*/