/* menu-1 */
#menulateralefeitohover
{
	margin: 0;
  padding: 0;
  font-family: arial;
  background: #fff;
  border: 5px solid gray;
}

#menulateralefeitohover ul
{
	/* margin: 300px 200px; */
  padding: 0px;
  display: flex;
}

#menulateralefeitohover ul li
{
  list-style: none;
  padding: 0px 20px;
}

#menulateralefeitohover ul li a
{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  color: black;
  position: relative;
}

#menulateralefeitohover ul li a:before 
{
	content: '';
  width: 0px;
  height: 5px;
  background: #10bdd4;
  position: absolute;
  top: 100%;
  left: 5px;
  transition: .5s;  
}

#menulateralefeitohover ul li:hover a:before 
{
  width: 50%;
  transform: translateX(100%);
}

/* menu-1 end */
